html {
  height:100%;
  width:100%;
}
body {
  height:100%;
  width:100%;
  margin:0;
  background-color:#ddd;
  padding:0;
  overflow:hidden;
  cursor:pointer;
}
.container{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
.row {
  width:100vw;
  height:2vh;
  margin:0;
  padding:0;
}
.row > div {
  margin:0;
  padding:0;
  width:2vw;
  height:2vh;
  display:inline-block;
  overflow:hidden;
  text-align:center;
  font-size:1.5vh;
  user-select: none;
  cursor:pointer;
  background-color: #eee;

}

.activated {
  animation-name: yellowAnim;
  animation-duration: 1s;
  animation-play-state: running;
}

@keyframes yellowAnim {
    0%     {background-color:#eee;}
    50.0%  {background-color:yellow;}
    100.0%  {background-color:#eee;}
}


.row:nth-child(even) {
  & > div:nth-child(even) {
    background-color:white;
    transition: background-color 1000ms linear;
  }
}
.row:nth-child(odd) {
  & > div:nth-child(odd) {
    background-color:white;
    transition: background-color 1000ms linear;
  }
}
